/* 
    Document   : feeder
    Created on : Aug 19, 2013, 8:07:57 PM
    Author     : salonsuccess
    Description:
        Purpose of the stylesheet follows.
*/

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #ccffcc;
}

#canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#message {
    position: relative;
    font-family: 'Rosario', serif;
    font-size: 64px;
    opacity: 0;
    text-align: center;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

