/* 
    Document   : feeder
    Created on : Aug 19, 2013, 8:07:57 PM
    Author     : salonsuccess
    Description:
        Purpose of the stylesheet follows.
*/

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #ffffff;
}

h1 {
    font-family: 'Raleway', serif;
    font-size: 64px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 5%;
}

#canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

#message {
    position: relative;
    font-family: 'Raleway', serif;
    font-size: 64px;
    opacity: 0;
    text-align: center;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.tweet_details {
    font-size: 32px;
    color: #666666;
    padding-top: 20px;
}

#admin_messages {
    width: 90%;
    height: 55%;
    padding-right: 5%;
    padding-left: 5%;
    overflow: auto;
    font-size: 12px;
}

.message_list {
    width: 100%;
    text-align: center;
}

.message_list td {
    padding: 5px;
}

#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 282px;
    background-image: url('../images/footer.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 100%;
}
